
html {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: hsla(212, 46%, 89%, 0.178);
    /* background-image: url(../images/favicon-32x32.png); */
   
    box-sizing: border-box;
}



.container {
    background-color: hsl(212, 45%, 89%);
    height: 70vh;
    margin: 15vh 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.174);
    border-radius: 10px;
}

.main-white {
    background-color: white;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 15%;
    border-radius: 10px;
}


.main-white img {
    border-radius: 10px;
}

.main-white h3, p {
    text-align: center;
 }
 

 .main-white h3 {
     margin-bottom: 0;
 }

 .main-white p {
     font-size: 15px;
 }